body {
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

#txt_container {

    text-align: center;
}

table, th, td {
    width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

th, td {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #dddddd;
    color: white;
}

#slider-range {
    width:450px;
    margin: 0 auto;
}

